<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-success text-white">
      <h4 class="mb-0">DRDO Project Directory</h4>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Project Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects">
              <td>{{ project.id }}</td>
              <td class="text-capitalize">{{ project.projectName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
